Repository zclconf/go-cty, changes with the labels that .github/labeler.yaml gives for each.
All labels: github-actions, dependencies, documentation, tests, convert, functions, functions/stdlib, gocty, json, msgpack, set-internals

cty: add `cty.GoIter` for Go 1.23+
  cty/element_iterator.go
  cty/element_iterator_test.go
Labels: tests

cty: UnknownAsNull accepts marked values and preserves marks
  CHANGELOG.md
  cty/unknown_as_null.go
  cty/unknown_as_null_test.go
Labels: tests

v1.16.4 release
  CHANGELOG.md
Labels: none

cty: Modern iter.Seq2 equivalents of Value.ElementIterator and Walk
  CHANGELOG.md
  cty/value_ops.go
  cty/value_ops_test.go
  cty/walk.go
  cty/walk_test.go
  go.mod
Labels: dependencies, tests

cty+ctymarks: Deep mark wrangling helper
  CHANGELOG.md
  cty/ctymarks/doc.go
  cty/ctymarks/wrangle.go
  cty/marks_wrangle.go
  cty/marks_wrangle_test.go
Labels: tests

cty: Various new mark-inspecting helpers
  CHANGELOG.md
  cty/marks.go
  cty/marks_test.go
Labels: tests

Bulk replace interface{} -> any
  README.md
  cty/capsule_ops.go
  cty/capsule_test.go
  cty/convert/conversion_capsule.go
  cty/convert/conversion_capsule_test.go
  cty/element_iterator.go
  cty/error.go
  cty/function/error.go
  cty/gocty/helpers.go
  cty/gocty/in.go
  cty/gocty/in_test.go
  cty/gocty/out.go
  cty/gocty/out_test.go
  cty/gocty/type_implied.go
  cty/gocty/type_implied_test.go
  cty/marks.go
  cty/object_type.go
  cty/set/rules.go
  cty/set_helper.go
  cty/set_internals.go
  cty/set_internals_test.go
  cty/set_type_test.go
  cty/tuple_type.go
  cty/unknown.go
  cty/value.go
  cty/value_init.go
  cty/value_ops.go
  docs/capsule-type-operations.md
  docs/gocty.md
Labels: documentation, tests, convert, functions, gocty, set-internals

cty: Use DeepValues instead of Walk for deep marks inspections
  cty/marks.go
  cty/walk.go
Labels: none

cty: Use WrangleMarksDeep for UnmarkDeep and UnmarkDeepWithPaths
  CHANGELOG.md
  cty/marks.go
Labels: none

CHANGELOG: Prepare for v1.17.0 release
  CHANGELOG.md
Labels: none

.github/labeler.yaml:

github-actions:
  - changed-files:
      - any-glob-to-any-file:
        - '.github/**'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
        - 'go.mod'
        - 'go.sum'

documentation:
  - changed-files:
      - any-glob-to-any-file:
        - 'README.md'
        - COMPATIBILITY.md
        - 'docs/**'

tests:
  - changed-files:
      - any-glob-to-any-file:
        - '**/*_test.go'

convert:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/convert/*'

functions:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/function/*.go'

functions/stdlib:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/function/stdlib/*.go'

gocty:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/gocty/*.go'

json:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/json/*.go'

msgpack:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/msgpack/*.go'

set-internals:
  - changed-files:
      - any-glob-to-any-file:
        - 'cty/set/*.go'
